:root {
  --dark_blue: #1f2937;
  --light_blue: #3882f6;
  --grey: #e5e7eb;
  --light_text: #f9faf9;
  --dark_text: #1f2937;
}
* {
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

#navbar,
#footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: var(--light_blue);
}

#section1,
#section2,
#section3 {
  width: 100%;
  min-height: 22.5%;
}

#section1 {
  padding: 3% 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dark_blue);
  color: var(--light_text);
  box-shadow: 0px 3px 25px 0 #1f2937, 0 4px 15px 0px #ccc, 0 5px 5px 0px #fff;
}
#navbar {
  position: sticky;
  top: 0;
}
#nav_logo {
  font-weight: 700;
  padding-left: 50px;
  font-size: x-large;
}

#nav_links {
  font-size: small;
  margin-left: auto;
  padding-right: 50px;
  color: white;
  font-weight: 500;
}

#nav_link {
  margin-right: 20px;
}

.header-font {
  text-decoration: none;
  color: var(--light_text);
}

#about_info {
  width: 40%;
  height: 40%;
  padding: 3%;
  margin: auto 5%;
}

#about_info h1 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 5%;
}

#about_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  min-width: 213px;
  min-height: 213px;
  margin: auto;
}

#section1 img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

#pic_info {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 600;
}

.b1container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.b1container:hover {
  width: 250px;
  height: 250px;
}
.b1info {
  font-size: 15px;
  margin-top: 5px;
  width: 170px;
}
.s2boximg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 3px solid rgb(0, 0, 0);
  transition: 0.5s;
}
.s2boximg:hover {
  width: 250px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}
.boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
